a{
	color:#ec1142;
	text-decoration: none;
}
body{
	background: #EEEEEE;
	font-size: 16px;
}
footer{
	background: #972b76;
	text-align: center;
	color: rgba (255,255,255, 0.7);
	padding: 1em;
}
footer p:first-child{
	background: red;
	margin-bottom: 0;
}
footer p:last-child{
	background: green;
	margin-top: 0;

}
footer p:last-child:after{
	content:"-" ;
}
footer p:last-child:before{
	content:"-" ;
}
header{
	background: #ff1246;
	padding: 0.5em;
	overflow: hidden;
	position:relative;

}
header figure{
	float: left;
	margin: 0 0 0 0;

}

header #logo img{
	width: 60px;
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;

}
header h1 {
	font-size: 1.8em;
	font-weight: lighter;
	margin: 0 70px 0 0;

}
header #avatar{
	position: absolute;
	top:0;
	right:0;
	margin: 1em 1em 0 0;
}
header #avatar img{
	width: 50px;
	border-radius: 50%;
	background: #fffc61;
}
nav{
	background: #0dcfff;
	position: relative;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	display: inline-block;
	margin: 0 0.5em 0 0;
}
nav ul li a{
	color: white;
	text-decoration: none;
	padding: 0.5em;
	display: block;
}
nav ul #publicar{
	
	position: absolute;
	top: 0;
	right: 0;
}
nav ul #publicar a {
	background:#3c5797; 
	border-radius: 5px;
	padding: 0.8em 0.5em;
	box-shadow: rgba( 0,0,0,0.5) 3px 3px 10px;
	font-style: italic;
}
#contenido{
	margin: 1em;
}
#contenido .proyectos{
	background: white;
	border-bottom: 3px solid #0672ab;
	min-height: 120px;
	position: relative;
	margin-bottom: 3em;
}
#contenido .proyectos .img_proyecto{
	float: left;
	margin: 0 1em 0 0;
}
#contenido .proyectos .img_proyecto img{
	height: 120px;
	width: 96px;
	background: #ab6d2e;
}
#contenido .proyectos .titulo_proyecto {
	font-size: 1.2em;
	font-style: italic;
	margin-bottom: 0;
	color: #444;
	padding: 0.5em 0 0 0;

}
#contenido .proyectos .titulo_proyecto a{
	text-decoration: none;
	color:#444;
}

#contenido .proyectos .autor_item{
	color: #AAA;
}
#contenido .proyectos .datos_item .fecha_item{
	color: #AAA;
	float: right;
}
#contenido .proyectos .datos_item .tag_item{
	background: #F4502A;
	color: white;
	display: inline-block;
	text-decoration: none;
	padding: 0.2em 0.5em;
	border-radius: 3px;
}
#contenido .proyectos .datos_item{
	margin: 1em 1em 0 0;
}
#contenido .proyectos .votacion{
	left: 5%;
	right: 5%;
	position: absolute;
	top: 100%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	background: white;
	border-radius: 0 0 0.5em 0.5em;
}
#contenido .proyectos .votacion .comentarios_item,
#contenido .proyectos .votacion .guardar_item
{
	float: right;
}